<section class="block block-feature">
    <div class="block__header">
      <h2 class="block__heading">Host On The Cloud to Keep Growing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ab
        maxime nobis quos necessitatibus repellendus.
      </p>
    </div>
    <div class="grid grid--1x2 feature ">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__title">Super Easy to use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magni id
          sint nostrum explicabo iste voluptatum vitae. Et dicta quas quam a,
          pariatur minima optio explicabo ad sapiente voluptatum enim?
        </p>
        <a class="link-arrow" href="#">Learn more</a>
      </div>
      <img class="feature__image" src="images/easy.jpg" alt="" />
    </div>

    <div class="grid grid--1x2 feature  feature--reverse">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__title">Simply fast websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magni id
          sint nostrum explicabo iste voluptatum vitae. Et dicta quas quam a,
          pariatur minima optio explicabo ad sapiente voluptatum enim?
        </p>
        <a class="link-arrow" href="#">Learn more</a>
      </div>
      <img class="feature__image" src="images/fast.jpg" alt="" />
    </div>
    <div class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </span>
        <h3 class="feature__title">WordPress made easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magni id
          sint nostrum explicabo iste voluptatum vitae. Et dicta quas quam a,
          pariatur minima optio explicabo ad sapiente voluptatum enim?
        </p>
        <a class="link-arrow" href="#">Learn more</a>
      </div>
      <img class="feature__image" src="images/wordpress.jpg" alt="" />
    </div>
    <div class="grid grid--1x2 feature  feature--reverse">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__title">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magni id
          sint nostrum explicabo iste voluptatum vitae. Et dicta quas quam a,
          pariatur minima optio explicabo ad sapiente voluptatum enim?
        </p>
        <a class="link-arrow" href="#">Learn more</a>
      </div>
      <img class="feature__image" src="images/support.jpg" alt="" />
    </div>
  </section>