<section class="block footer">
    <div class="container grid grid--1x5">
      <div class="collapsible collapsible--expanded footer__collapsible">
        <header class="collapsible__header footer__collapsible-header">
          <h2 class="collapsible__heading footer__heading">Products</h2>
          <img
            class="icon icon--white collapsible__chevron"
            src="images/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content footer__collapsible-content">
          <ul class="list">
            <li class="list__item"><a href="">WordPress Hosting</a></li>
            <li class="list__item">
              <a href="">Free automated WordPress</a>
            </li>
            <li class="list__item"><a href="">Migrations</a></li>
            <li class="list__item"><a href="">Domain Names</a></li>
            <li class="list__item"><a href="">Monthly Web Hosting</a></li>
          </ul>
        </div>
      </div>
      <div class="collapsible footer__collapsible">
        <header class="collapsible__header footer__collapsible-header">
          <h2 class="collapsible__heading footer__heading">company</h2>
          <img
            class="icon icon--white collapsible__chevron"
            src="images/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content footer__collapsible-content">
          <ul class="list">
            <li class="list__item"><a href="">About</a></li>
            <li class="list__item"><a href="">Affliaties</a></li>
            <li class="list__item"><a href="">Blog</a></li>
            <li class="list__item"><a href="">Careers</a></li>
            <li class="list__item"><a href="">Community</a></li>
            <li class="list__item"><a href="">News</a></li>
            <li class="list__item"><a href="">Green Hosting</a></li>
          </ul>
        </div>
      </div>
      <div class="collapsible footer__collapsible">
        <header class="collapsible__header footer__collapsible-header">
          <h2 class="collapsible__heading footer__heading">support</h2>
          <img
            class="icon icon--white collapsible__chevron"
            src="images/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content footer__collapsible-content">
          <ul class="list">
            <li class="list__item"><a href="">Contact</a></li>
            <li class="list__item"><a href="">Knowledge base</a></li>
            <li class="list__item"><a href="">forums</a></li>
            <li class="list__item"><a href="">system status</a></li>
            <li class="list__item"><a href="">Web Hosting</a></li>
            <li class="list__item"><a href="">dream compute</a></li>
          </ul>
        </div>
      </div>
      <div class="collapsible footer__collapsible">
        <header class="collapsible__header footer__collapsible-header">
          <h2 class="collapsible__heading footer__heading">domains</h2>
          <img
            class="icon icon--white collapsible__chevron"
            src="images/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content footer__collapsible-content">
          <ul class="list">
            <li class="list__item"><a href="">Domain checker</a></li>
            <li class="list__item"><a href="">domain transfer</a></li>
            <li class="list__item"><a href="">free domain</a></li>
            <li class="list__item"><a href="">XYZ domain</a></li>
            <li class="list__item"><a href="">cheap SSL certificate</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-brand">
        <img src="images/logo.svg" alt="" />
        <p>Copyright &copy; 2025 mosh</p>
      </div>
    </div>
  </section>